#job-results{
  display: none
}
.jumbotron{
  background-color: #015249; 
  color : white;
  margin-bottom : 0px;
}
#user-profile .container, #job-results .container{
  background-color : #EFEFEF;
  padding-bottom : 100px;
}
label{
  font-size : 150%
}